
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mis2000lab</title>
</head>
<body>
    <div> 
        <h3>mis2000lab</h3>
    </div>
</body>
</html>
