
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h3>Index</h3>
        <br/>
        你好!我愛MVC。
    </div>
</body>
</html>
